<%= link_to space_path(space), class:'block hover:opacity-80' do %>
  <div class="card lg:card-side bg-base-100 shadow-xl mb-5">
    <figure><%= image_tag space.main_image, size: '400x225' %></figure>
    <div class="card-body">
      <h2 class="card-title"><%= space.name %></h2>
      <div class="flex gap-1 items-center">
        <%# ここにsvgタグで何かする %>
        <%= space.address %>
      </div>
      <div class="flex gap-1 items-center">
        <%# ここにsvgタグで何かする %>
        <%= space.nearest_station %>
      </div>
      <div class="rating">
        <input type="radio" name="rating-<%= space.id %>" class="mask mask-star-2 bg-orange-400" />
        <input type="radio" name="rating-<%= space.id %>" class="mask mask-star-2 bg-orange-400" checked />
        <input type="radio" name="rating-<%= space.id %>" class="mask mask-star-2 bg-orange-400" />
        <input type="radio" name="rating-<%= space.id %>" class="mask mask-star-2 bg-orange-400" />
        <input type="radio" name="rating-<%= space.id %>" class="mask mask-star-2 bg-orange-400" />
      </div>
      <div>
        <% space.features.each do |feature| %>
          <div class="badge badge-outline"><%= feature.name %></div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>